{% extends 'base2.html' %}
{% load static %}
{%block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('static/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <h3 class="v">Neurone - Tone your Outfit</h3>
            <h3 class="vr">Since - 2012</h3>
            <div class="col-md-11 ftco-animate text-center">
                <h1>Neurone</h1>
                <h2><span>Wear Your Dress</span></h2>
            </div>
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00" /></svg></div>
            
{% endblock %}