{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4">
            <div class="card  mt-5" style="box-shadow: 2px 2px 5px grey; border: none; ">
                <div class="card-body mb-3 mr-3 ml-3">
                   
                    <form action="" method="post" novalidate>
                            Don't have an account? <a href="{% url 'signup' %}">signup</a><br><br>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <h5><u>Sign Up with Google</u></h5>
                        <a title="" class="btn btn-success"
                            href="{% provider_login_url 'google' %}">google</a>
                        <a href=""> <button type="submit" class="btn btn-info btn-sm D-block mx-auto"> LOGIN</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}